body {
    background-image: url(background.jpg);
    background-size: cover;   
}

div {
    margin: auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5)
  }

#logo {
    width: 200px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: rgb(30, 195, 30);
    text-align: center;
}

nav {
    text-align: center;
    width: 80%;
    background-color: rgb(30, 195, 30);
    margin: auto;
    padding: 10px;
}

section {
    margin-left: 10%;
    margin-top: 20px;
    padding-bottom: 20px;
}

#monopattino1 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}

#monopattino2 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}

#monopattino3 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}


label {
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}

p {
    color: white;
    font-family: sans-serif;
    word-wrap: break-word;
    padding-right: 70%;

}

#metacarica {
    background-color:rgb(245, 180, 83);
    height: 30px;
    margin-right: 70%;
    border-radius: 5px;
    color: rgb(245, 180, 83);
   

}

#pienacarica {
    background-color:rgb(14,212,14);
    height: 30px;
    margin-right: 50%;
    border-radius: 5px;
    color:rgb(14,212,14);

}

#quasiscarica {
    background-color:rgb(190,65,65);
    height: 30px;
    margin-right: 80%;
    border-radius: 5px;
    color:rgb(190,65,65);

}