body { /* sfondo */
    background-image: url(background.jpg);
    background-size: cover;   
}

div { /* layout */
    margin-left: 15%;
    margin-top: 3%;
    margin-right: 15%;
    margin-bottom: 25%;
    padding-bottom: 5%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5)
}

#logo { /* immagine logo */
    width: 200px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 { /* titolo */
    color: rgb(30, 195, 30);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav { /* barra navigatrice */
    text-align: center;
    width: 78%;
    background-color: rgb(30, 195, 30);
    margin: auto;
    padding: 15px;
}

section { /* sezioni 3 monopattini */
    margin-left: 10%;
    margin-top: 20px;
    padding-bottom: 20px;
}


label { /* titoli 3 monopattini */
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
}

#testomonopattino1 { /* descrizione primo monopattino */
    color: white;
    font-family: sans-serif;
    padding-right: 77%;
}

#testomonopattino2 { /* descrizione secondo monopattino */
    color: white;
    font-family: sans-serif;
    padding-right: 78%;
}

#testomonopattino3 { /* descrizione terzo monopattino */
    color: white;
    font-family: sans-serif;
    padding-right: 80%;
}

#metacarica { /* barra carica primo monopattino */
    background-color:rgb(245, 180, 83);
    margin-left: auto;
    margin-top: auto;
    margin-right: 65%;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
    color: rgb(245, 180, 83); 
}

#pienacarica { /* barra carica secondo monopattino */
    background-color:rgb(14,212,14);
    margin-left: auto;
    margin-top: auto;
    margin-right: 45%;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
    color:rgb(14,212,14);   
}

#quasiscarica { /* barra carica terzo monopattino */
    background-color:rgb(190,65,65);
    margin-left: auto;
    margin-top: auto;
    margin-right: 85%;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 5px;
    color:rgb(190,65,65);  
}