body {
    background-image: url(background.jpg);
    background-size: cover;   
}

div {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5)
  }

#logo {
    width: 200px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: rgb(30, 195, 30);
    text-align: center;
}

nav {
    text-align: center;
    width: 78%;
    background-color: rgb(30, 195, 30);
    margin: auto;
    padding: 20px;
}

section {
    margin-left: 10%;
    margin-top: 20px;
    padding-bottom: 20px;
}

#monopattino1 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}

#monopattino2 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}

#monopattino3 {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}


label {
    color: white;
    font-family: sans-serif;
    font-size: x-large;
}

p {
    color: white;
    font-family: sans-serif;
    word-wrap: break-word;
    padding-right: 75%;

}

#metacarica {
    background-color:rgb(245, 180, 83);
    margin-left: auto;
    margin-right: 65%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    color: rgb(245, 180, 83);
    padding: 10px;
   

}

#pienacarica {
    background-color:rgb(14,212,14);
    margin-left: auto;
    margin-right: 45%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    color:rgb(14,212,14);
    padding: 10px;

}

#quasiscarica {
    background-color:rgb(190,65,65);
    margin-left: auto;
    margin-right: 75%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    color:rgb(190,65,65);
    padding: 10px;

}